{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div class="container">
<h1 class="text-center">CRUD-TEST</h1>
{{invoices-form}}
</div>
{{!-- {{outlet}} --}}